@model LMS2.Models.BookCreate
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    Layout = "_Layout";
    var username = @HttpContextAccessor.HttpContext.Session.GetString("_Username");
}

<div class="header">
    <h2>Book Detail</h2>
    <p>@HttpContextAccessor.HttpContext.Session.GetString("_Username")</p>
</div>

<div class="book-detail">
    <div class="book-detail__image">
        
        <img class="shadow" src="~/Image/@Model.Image" />
</div>
    <div class="book-detail__credits">
        <h4>@Model.BookName</h4>
        <h5>@Model.Author</h5>
        <h5>@Model.Publisher</h5>
        <p>
            @Model.Description
        </p>
    </div>
    <div></div>
</div>
<div class="action-bar">
    <form>
        <input type="hidden" vlaue="@username">
        <input type="hidden" value="@Model.BookID">
        <input type="submit" class="btn btn-outline-warning btn-lg" value="Edit">
    </form>
    <form asp-controller="Issuing" asp-action="Issue" method="post">
        <input type="hidden" asp-for="BookID" value=asp-route-id>
        <input type="submit" class="btn btn-success btn-lg" value="Issue">
    </form>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
